body {
    margin: 0;
    padding: 65px;
    background: #ccc;
  }

section{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 100px;
}

.dark{
    background: #262626;
    color:#fff;
}

.onoffswitch {
    position: absolute; 
    width: 90px; 
    top: 10px; 
    right:10px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Day";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Night";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin:6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 4px;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.card-title{
    text-align: center;
}

a.custom-card{
    color:inherit;
}
a.custom-card:hover{
    color:inherit;
}

body.snake{
    height:100%;
    overflow:hidden;
}

div.wrap{
    padding-top:65px;
    height:100%;
    overflow:hidden;
}